@font-face {
    font-family: "Journal";
    font-weight: 500;
    src: url("fonts/JournalSansNew.ttf") format("opentype");
}

@font-face {
    font-family: "Journal";
    font-weight: 700;
    src: url("fonts/JournalSansNew-Bold.ttf") format("opentype");
}

@font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy-Heavy.ttf") format("opentype");
}

@font-face {
    font-family: "Bradley Hand";
    src: url("fonts/Bradley-Hand.woff") format("woff");
}

/*@font-face {*/
/*    font-family: "Geometria";*/
/*    src: url("fonts/geometria_medium.otf") format("opentype"),*/
/*    url("fonts/geometria_light.otf") format("opentype"),*/
/*    url("fonts/geometria_bold.otf") format("opentype"),*/
/*    url("fonts/geometria_extrabold.otf") format("opentype");*/
/*}*/

@font-face {
    font-family: "Geometria";
    font-weight: 200;
    src: url("fonts/geometria_light.otf") format("opentype");
}

@font-face {
    font-family: "Geometria";
    font-weight: 500;
    src: url("fonts/geometria_medium.otf") format("opentype");
}

@font-face {
    font-family: "Geometria";
    font-weight: 700;
    src: url("fonts/geometria_bold.otf") format("opentype");
}

@font-face {
    font-family: "Geometria";
    font-weight: 900;
    src: url("fonts/geometria_extrabold.otf") format("opentype");
}

:root {
    --651C: #ACBED2;
    --WARMGRAY5C: #A59D96;
    --7618C: #D2734A;
    --black: #000;

    --656C: #F6F8FA;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: "Journal", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-kerning: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*font-style: normal;*/
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

header {
    position: fixed;
    padding: 24px 72px;
    width: 100%;
    z-index: 999;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .links {
    display: flex;
    align-items: baseline;
    font-size: 18px;
    color: #3D3C3C;
}

.logo {
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.logo.hovered #logo_w_left {
    transform: rotateY(180deg);
    transition: 0.5s;
}

.logo.hovered #logo_w_right {
    transform: rotateY(180deg);
    transition: 0.5s;
}

.logo img {
    transition: 0.5s;
}

#logo_w_left {
    margin-left: 3px;
}

#logo_w_right {
    margin-right: 3px;
}

#start_link {
    display: flex;
    align-items: center;
    margin-left: 75px;
    margin-bottom: 5px;
}

#start_link img {
    margin-left: 10px;
}

#main_block {
    height: 1400px;
    overflow: hidden;
    position: relative;
}

#main_block_left {
    display: flex;
    position: absolute;
    flex-direction: column;
    height: 100vh;
    max-width: 84vw;
    min-width: 60vw;
    padding-left: 72px;
    z-index: 2;
    align-items: center;
}

#main_block_left h2 {
    margin-top: 50px;
    right: 0;
    color: #4F4F4F;
    font-weight: normal;
}

#main_block_left .right_block {
    display: flex;
    justify-content: center;
    width: 70%;
    align-self: flex-end;
}

#main_block_left h1 {
    font-size: 82px;
    font-weight: bold;
    line-height: 84px;
}

#main_block_left .form_button {
    width: 357px;
    height: 104px;
    font-size: 34px;
    margin-top: 100px;
}

.blue_rectangle {
    position: absolute;
    z-index: -1;
    background-color: #3B89D7;
    top: 30px;
    right: -480px;
    height: 850px;
    width: 1000px;
    transform: skew(0deg, 40deg);
    border-radius: 5px;
}

#building {
    position: absolute;
    right: 0;
}

#second_block {
    position: relative;
    margin-top: -30px;
}

#el1 {
    position: absolute;
    top: -300px;
    z-index: -1;
}

#screen1_container {
    display: flex;
    justify-content: center;
}

.site_example {
    margin: -680px auto 0 auto;
    border-radius: 16px;
    box-shadow: 0 4px 84px 0 rgba(0, 0, 0, 0.17);
    max-width: 100%;
    height: auto;
}

#possibility_block_header {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
    font-size: 40px;
    width: 70vw;
    margin: 120px auto 0 auto;
}

#possibility_block {
    display: flex;
    justify-content: center;
    margin-top: 210px;
    width: auto;
}

.possibility_element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 180px;
    max-width: 180px;
    height: 265px;
    background-color: #FFF;
    margin: 0 10px;
    transition: 0.5s;
    border-radius: 10px;
    box-shadow: 0px 4px 41px 0px rgba(0, 0, 0, 0.11);
    z-index: 100;
    padding: 15px;

}

.possibility_element h3 {
    font-weight: normal;
    text-align: center;
    margin-top: 20px;
}

.possibility_element>img,
.possibility_element .possibility_img {
    width: 80px;
    height: 80px;
}

.possibility_img {
    position: relative;
}

.possibility_img img {
    position: absolute;
    transition: 0.5s;
}

#pizza_img {
    filter: drop-shadow(5.50321px 4.40257px 15.409px rgba(0, 0, 0, 0.14));
}

#pizza_img img:nth-child(1) {
    transform: scaleX(0.677) scaleY(0.708);
    top: -18px;
    right: -4px;
}

#pizza_img img:nth-child(2) {
    transform: scaleX(0.677) scaleY(0.708);
    top: -18px;
    left: -4px;
}

#pizza_img img:nth-child(3) {
    transform: scaleX(0.677) scaleY(0.708);
    left: -18px;
    bottom: -4px;
}

.possibility_element.hovered #pizza_img img:nth-child(2) {
    top: -30px;
    left: -16px;
    transition: 0.5s;
}

#obligations img {
    position: absolute;
    transform: scale(0.72);
}

#obligations img:nth-child(1) {
    top: 15px;
    left: 11px;
}

#obligations img:nth-child(2) {
    top: -11px;
    left: -15px;
}

.possibility_element.hovered #obligations img:nth-child(2) {
    transform: rotate(120deg) scale(0.72);
}

#rouble_img {
    filter: drop-shadow(5.50321px 4.40257px 15.409px rgba(0, 0, 0, 0.14));
}

#obligations {
    filter: drop-shadow(5.50321px 4.40257px 15.409px rgba(0, 0, 0, 0.14));
}

.possibility_element.hovered #rouble_img {
    animation: wiggle_animation 1s;
}

#risks_img img {
    height: 100px;
}

#risks_img img:nth-child(1) {
    left: 16px;
    top: -10px;
}

#risks_img img:nth-child(2) {
    left: 40px;
    top: 7px;
}

#changes_img img {
    height: 80px;
}

#changes_img img:nth-child(1) {
    left: -15px;
    top: -13px;
}

#changes_img img:nth-child(2) {
    left: 12px;
    top: 15px;
}

#profit_analysis_img {
    transform: scale(0.7);
    margin-top: -55px;
}

#pe8 h3 {
    margin-top: -15px;
}

#profit_analysis_img path {
    transform: translateY(10px);
    transition: 0.5s;
}

#deals_img img:nth-child(1) {
    width: 90px;
    left: 2px;
    top: 6px;
}

#deals_img img:nth-child(2) {
    width: 33px;
    left: 27px;
    top: 26px;
    /*transform: translateY(10px);*/
    /*opacity: 0;*/
    transition: 0.5s;
}

#documents_img img:nth-child(1) {
    width: 94px;
}

#documents_img img:nth-child(2) {
    width: 50px;
    top: 31px;
    left: 15px;
    transform-origin: left;
    transition-delay: 0s;
}

#documents_img img:nth-child(3) {
    width: 50px;
    top: 46px;
    left: 15px;
    transform-origin: left;
    transition-delay: 0.1s;
}

#documents_img img:nth-child(4) {
    width: 50px;
    top: 61px;
    left: 15px;
    transform-origin: left;
    transition-delay: 0.2s;
}

.possibility_element.hovered #documents_img img:nth-child(2) {
    animation: documents_animation 0.5s;
}

.possibility_element.hovered #documents_img img:nth-child(3) {
    animation: documents_animation_2 0.5s;
}

.possibility_element.hovered #documents_img img:nth-child(4) {
    animation: documents_animation_3 0.5s;
}

@keyframes documents_animation {
    0% {
        transform: scaleX(0);
    }

    60% {
        transform: scaleX(1);
    }
}

@keyframes documents_animation_2 {
    0% {
        transform: scaleX(0);
    }

    20% {
        transform: scaleX(0);
    }

    80% {
        transform: scaleX(1);
    }
}

@keyframes documents_animation_3 {
    0% {
        transform: scaleX(0);
    }

    40% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

.possibility_element.hovered #deals_img img:nth-child(2) {
    animation: deals_animation 0.5s;
}

@keyframes deals_animation {
    from {
        transform: translateY(10px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.possibility_element.hovered #profit_analysis_img path {
    transform: translateY(-10px);
    transition: 0.5s;
}

#profit_analysis_img path:nth-child(4) {
    transition-delay: 0.1s;
}

#profit_analysis_img path:nth-child(3) {
    transition-delay: 0.25s;
}

#profit_analysis_img path:nth-child(2) {
    transition-delay: 0.4s;
}

#profit_analysis_img path:nth-child(1) {
    transition-delay: 0.55s;
}

.possibility_element.hovered #profit_analysis_img path:nth-child(4) {
    transition-delay: 0.1s;
}

.possibility_element.hovered #profit_analysis_img path:nth-child(3) {
    transition-delay: 0.2s;
}

.possibility_element.hovered #profit_analysis_img path:nth-child(2) {
    transition-delay: 0.3s;
}

.possibility_element.hovered #profit_analysis_img path:nth-child(1) {
    transition-delay: 0.4s;
}

.possibility_element.hovered #changes_img img:nth-child(1) {
    left: -25px;
    top: -23px;
}

.possibility_element.hovered #risks_img img:nth-child(1) {
    left: 6px;
    top: -20px;
}

.possibility_element span {
    color: #000000;
    opacity: 0;
    transition: 0.5s;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

.possibility_element.hovered span {
    opacity: 1;
    transition: 0.5s;
}

.possibility_element:hover {
    margin: 0 70px !important;
    border: 0.5px solid #000000;
}

.wiggle_animation {
    animation: wiggle_animation 1s;
}

#economy_block {
    margin-top: 100px;
    /*height: 860px;*/
}

.block_container {
    position: relative;
    overflow: hidden;
}

.block_container .gray_rectangle {
    position: absolute;
    z-index: -1;
    background: linear-gradient(180deg, #B6C7DA 0%, #DFF0F7 100%);
    opacity: 25%;
    height: 750px;
    width: 1000px;
    transform: skew(0deg, 40deg);
    border-radius: 20px;
}

.block_container .gray_rectangle#economy_rectangle {
    top: 500px;
    left: 60vw;
}

#economy_block #economy_number_stroke {
    position: absolute;
    font-family: 'Gilroy', sans-serif;
    color: #93C4F5;
    background: -webkit-linear-gradient(161.98deg, #91C3F4 -0.19%, #3C8AD7 63.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 600px;
    top: 150px;
    width: 590px;
    letter-spacing: -65px;
    -webkit-filter: drop-shadow(38.8786px 13.66px 58.8433px rgba(8, 25, 41, 0.15));
    filter: drop-shadow(38.8786px 13.66px 58.8433px rgba(8, 25, 41, 0.15));
}

#economy_block #economy_number {
    position: absolute;
    font-family: 'Gilroy', sans-serif;
    font-size: 24px;
    color: #93C4F5;
    background: -webkit-linear-gradient(158.02deg, #93C4F5 -1.5%, #3B89D7 68.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 600px;
    top: 100px;
    width: 590px;
    letter-spacing: -65px;
    -webkit-filter: drop-shadow(38.8786px 13.66px 58.8433px rgba(8, 25, 41, 0.15));
    filter: drop-shadow(38.8786px 13.66px 58.8433px rgba(8, 25, 41, 0.15));
}

#economy_block #economy_percent {
    position: absolute;
    font-family: 'Gilroy', sans-serif;
    color: #93C4F5;
    background: -webkit-linear-gradient(180deg, #93C4F5 0%, #6FA7DE 78.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 180px;
    left: 600px;
    top: 280px;
    line-height: 150px;
    text-shadow: 39px 14px 59px rgba(8, 25, 41, 0.15);
    -webkit-filter: drop-shadow(39px 14px 59px rgba(8, 25, 41, 0.15));
    filter: drop-shadow(39px 14px 59px rgba(8, 25, 41, 0.15));
}

#economy_block #economy_info {
    position: absolute;
    font-weight: bold;
    left: 36px;
    color: #FFF;
    top: 614px;
    width: 500px;
    font-size: 25px;
    line-height: 24px;
}

#economy_block .right #economy_elements_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 120px;
}

#economy_left_container {
    display: flex;
    align-items: center;
}

#economy_block .right .economy_element {
    width: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
}

#economy_block .right .economy_element:first-child {
    margin-left: 0;
}

#economy_block .right .economy_element h4 {
    margin-left: 20px;
    font-size: 30px;
    font-weight: normal;
    max-width: 200px;
    text-align: center;
    margin-top: 10px;
}

#economy_block .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 160px;
}

#economy_block .right h1 {
    font-size: 100px;
    line-height: 100px;
}

#economy {
    width: 100%;
    height: 800px;
    position: relative;
    margin-top: 200px;
    margin-left: 40px;
}

#economy_number_container {
    position: absolute;
}

.economy_img {
    width: 148px;
    height: 162px;
    position: relative;
}

.economy_img>img {
    position: absolute;
}

.economy_img .economy_img_dynamic {
    width: 102px;
    height: 102px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.slide_from_left_small_elem_warehouses {
    transform: translateX(-100vw);
}

.slide_from_left_small_elem_warehouses.animated {
    transform: translateX(-50%);
    transition: 1s;
}

.slide_from_top_warehouses {
    transform: translateX(-50%) translateY(-200px);
    opacity: 0;
}

.slide_from_top_warehouses.animated {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
    transition: 1s;
}

#economy_office_spaces_static {
    position: absolute;
    bottom: 13px;
    right: 5px;
}

.economy_img_animation_hover {
    width: 100%;
    height: 100%;
}

#objects_in_one_place {
    margin-top: 100px;
    /*height: 760px;*/
}

#objects_in_one_place .heading_info {
    margin-left: 270px;
    margin-top: 80px;
}

#objects_in_one_place #new_cases {
    width: 420px;
    height: 238px;
    left: -110px;
    top: -54px;
    background: linear-gradient(180deg, #3A87D3 0%, #7BB4EC 100%);
    box-shadow: 13px 21px 35px rgba(21, 30, 39, 0.11);
    overflow: hidden;
    color: #FFF;
}

#objects_in_one_place #new_cases #exclamation_new_cases {
    position: absolute;
    right: 40px;
    z-index: 1;
}

#objects_in_one_place #new_cases #close_new_cases {
    cursor: pointer;
    color: #FFF;
    position: absolute;
    top: 15px;
    right: 15px;
}

#objects_in_one_place #new_cases #new_cases_content {
    padding: 45px 36px;
}

#new_cases_content>h1 {
    font-size: 31px;
}

#objects_in_one_place #new_cases #cases {
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
}

#cases .case h1 {
    font-size: 65px;
    line-height: 65px;
}

#cases .case h4 {
    font-size: 28px;
    line-height: 28px;
}

#cases .case {
    padding-right: 43px;
}

#objects_in_one_place #new_cases #new_cases_content>h4 {
    margin-top: 25px;
    font-size: 16px;
    line-height: 21px;
}

#objects_in_one_place #object_info {
    width: 700px;
    height: 541px;
    left: 150px;
    top: 100px;
    z-index: 1;
    padding: 29px;
}

#object_info .cadastral,
#object_info .name {
    font-size: 30px;
    color: #6989AC;
    font-family: "Journal", sans-serif;
}

#object_info .cadastral {
    border-bottom: 2px solid #E4E3E3;
    padding-bottom: 10px;
}

#object_info .name {
    padding-top: 10px;
}

.object_features {
    display: flex;
    width: 100%;
}

.object_features:first-child {
    margin-top: 40px;
}

.object_features .feature {
    position: relative;
    cursor: pointer;
    min-width: 170px;
    width: 170px;
    padding: 18px;
    border: 1px solid rgba(40, 40, 40, 0.11);
    border-radius: 8px;
    margin: 8px;
    transition: 0.5s;
}

#feature_exclamation_mark {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: #FF4D00;
    color: #FFF;
    border-radius: 50px;
    font-size: 20px;
    right: 50px;
    top: 35px;
}

.object_features .feature:hover {
    transform: scale(1.05);
    border: 1px solid rgba(40, 40, 40, 0.25);
    transition: 0.5s;
}

#address_feature {
    width: 300px;
}

.object_features .feature div {
    margin-top: 20px;
}

#objects_in_one_place #cells_img_cadastral {
    position: absolute;
    left: -300px;
    top: 130px;
}

.bradley_font {
    font-family: "Bradley Hand", "Segoe Script", "Lucida Handwriting", serif;
    color: #005CB9;
    line-height: 30px;
    font-size: 33px;
    position: absolute;
}

.opacity0 {
    opacity: 0;
}

.scale0 {
    transform: scale(0);
}

#objects_in_one_place #check_cadastral_cost {
    position: absolute;
    max-width: 100px;
    left: -90px;
    z-index: 0;
    top: 320px;
    transform: rotate(-3deg);
}

#objects_in_one_place #cells_img_important {
    position: absolute;
    left: 200px;
    top: -150px;
}

.label {
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF4D00;
    box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.09);
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #FFF;
    padding: 21px 39px;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    top: 0;
}

.heading:hover~.label {
    opacity: 1;
    transition: 0.5s;
}

#objects_in_one_place .label {
    height: 74px;
    width: 360px;
}

.heading {
    font-size: 95px;
    line-height: 93px;
    margin-top: 120px;
}

#objects_in_one_place .heading {
    margin-top: 100px;
}

.heading_info {
    margin-top: 50px;
    font-size: 26px;
    width: 80%;
    color: #4F4F4F;
    margin-left: 190px;
    max-width: 610px;
}

#vector_img {
    margin-top: 10px;
}

#objects_in_one_place .shadow {
    background-color: #303030;
    filter: blur(16px);
    border-radius: 100px;
    width: 111px;
    height: 8px;
    z-index: 2;
    margin-left: 30px;
    margin-top: 30px;
}

#objects_in_one_place .block_left {
    min-width: 820px;
}

#profit_analysis {
    margin-top: 200px;
    /*height: 760px;*/
}

#profit_analysis .heading {
    margin-top: 20px;
}

#profit_analysis .heading_info {
    margin-left: 125px;
    margin-top: 80px;
    width: initial;
}

#profit_rectangle {
    right: 50vw;
    top: -100px;
}

#profit_analysis .label {
    width: 520px;
    margin-top: -100px;
    height: 96px;
}

#profit_analysis #count_object {
    width: 847px;
    height: 650px;
    left: -13px;
    padding: 36px 0 36px 36px;
    overflow: hidden;
}

#profit_analysis .form_button {
    border-radius: 20.155px;
}

input {
    outline: none;
}

#count_object input {
    background-color: #FFF;
    color: #000;
}

.count_content {
    display: flex;
}

.count_left {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    margin-top: 14px;
}

.count_left div {
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-weight: bold;
    height: 50px;
    background-color: #F6F6F6;
    margin-top: 5px;
    border-radius: 20px;
    font-size: 18px;
}

.count_content .count_right {
    margin-left: 45px;
    width: 100%;
}

.count_content .count_right .period,
.count_down .inputs_count {
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    max-width: 200px;
}

#count_scroll_img {
    position: absolute;
    right: 40px;
    transform: translateY(10px);
}

#count_tax {
    display: flex;
    align-items: center;
    padding-left: 50px;
    margin: 15px 0 15px 45px;
    background-color: #5D9FE0;
    ;
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    border-radius: 20px 0 0 20px;
    width: 100%;
}

#count_btn {
    font-size: 18px;
}

.count_content .count_right .period:first-child {
    margin-left: 0;
}

.count_content .count_right {
    display: flex;
}

.period input,
.inputs_count input {
    height: 30px;
    margin: 12.5px 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 6px;
    outline: none;
    font-size: 15px;
    text-align: center;
}

.count_down {
    display: flex;
    margin-top: 30px;
}

.count_down .count_left {
    margin-top: 0;
}

.period .right_share {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.period_control {
    text-decoration: underline;
    font-size: 11px;
    color: rgba(40, 40, 40, 0.65);
}

.right_share div {
    margin: 0 15px;
}

.right_share input {
    min-width: 0;
    text-align: right;
}

.block {
    position: relative;
    margin-top: 10px;
    display: flex;
}

.block_reverse {
    flex-direction: row-reverse;
}

.block_left {
    position: relative;
    flex: 1;
    min-width: 700px;
    /*height: 100vh;*/
    padding-left: 160px;
    z-index: 2;
}

#economy_block .left {
    display: flex;
    align-items: center;
}

#references .block_left {
    padding-left: 170px;
    min-width: 763px;
}

#references .heading {
    margin-top: -80px;
}

.block_right {
    flex: 1;
    position: relative;
    max-width: 700px;
}

.block_reverse .block_right {
    flex: 1;
    position: relative;
    right: 0;
    min-width: 900px;
}

.example {
    position: absolute;
    box-shadow: -16px 21px 94px 0 rgb(0 0 0 / 9%);
    background-color: #FFF;
    border-radius: 27px;
    z-index: 2;
}

#profit_analysis #cells_count_1 {
    position: absolute;
    top: 150px;
    right: -200px;
    z-index: -1;
}

#profit_analysis #cells_count_2 {
    position: absolute;
    right: 0;
    top: -240px;
    z-index: -1;
}

#profit_analysis #count_1 {
    position: absolute;
    left: 50px;
    top: -90px;
    min-width: 310px;
    transform: rotate(-5deg);
}

#profit_analysis #count_2 {
    position: absolute;
    right: -90px;
    top: 400px;
    transform: rotate(20deg);
}

#profit_analysis .heading {
    position: relative;
}

#contragents {
    z-index: 3;
    margin-top: 300px;
    /*height: 760px;*/
}

#contragents .block_left {
    min-width: 950px;
}

#actual_information .block_left {
    z-index: 3;
    min-width: 885px;
}

#contragents #info_cadastral {
    left: -50px;
    width: 1000px;
    height: 650px;
    padding: 48px 64px;
    font-family: "Geometria", "Journal", sans-serif !important;
    font-weight: bold;
}

#references {
    /*height: 720px;*/
    margin-top: 400px;
}

#cadastral_number {
    font-family: "Journal", sans-serif;
    font-weight: bold;
}

#contragents .label {
    width: 310px;
    height: 96px;
}

#contragents .heading_info {
    margin-top: 80px;
    font-size: 26px;
    line-height: 33px;
    margin-left: 250px;
}

#contragents .form_button {
    margin-top: 80px;
}

#cool_img {
    position: absolute;
    top: 30px;
    left: 650px;
}

#check_cells {
    position: absolute;
    z-index: -1;
    top: -300px;
    left: 100px;
}

#ilya_cells {
    position: absolute;
    z-index: -1;
    left: -440px;
    top: 50px;
}

#ilya_text {
    top: 250px;
    left: -220px;
    transform: rotate(9deg);
}

#check_asap_text {
    top: -80px;
    left: 350px;
    transform: rotate(6deg);
}

#info_cadastral .header {
    font-size: 30px;
    color: #6989AC;
    font-weight: bold;
    padding-bottom: 16px;
    border-bottom: 1px solid #E4E3E3;
}

#info_cadastral .second_header {
    border-bottom: none;
    margin-top: 50px;
}

#cadastral_nav {
    display: flex;
    margin-top: 40px;
}

#cadastral_nav .nav_el {
    min-height: 100px;
    min-width: 200px;
    padding: 30px;
    margin-right: 24px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    color: #73AAE0;
    border: 1px solid rgba(40, 40, 40, 0.1);
    cursor: pointer;
}

#cadastral_nav .nav_el.chosen {
    background: linear-gradient(117.01deg, #3A87D3 33.12%, #93C4F5 110.35%);
    color: #FFF;
    border: none;
}

#attributes .attribute {
    padding: 15px;
    border: 1px solid rgba(40, 40, 40, 0.1);
    border-radius: 8px;
    margin-bottom: 5px;
    font-size: 18px;
    transition: 0.2s;
    font-weight: 100;
}

#attributes .attribute:hover {
    transform: scale(1.02);
    cursor: pointer;
    transition: 0.2s;
}

#references .label {
    max-width: 400px;
    margin-top: -210px;
}

#references .heading_info {
    margin-left: 200px;
}

#clap_img {
    position: absolute;
    top: 0;
    left: 650px;
}

#references .gray_rectangle {
    right: 50vw;
    top: -200px;
}

#andrey_references {
    top: -100px;
    transform: rotate(-3deg);
    left: 200px;
}

#references_img {
    position: absolute;
    left: 755px;
    top: 370px;
}

#egrn .form_button {
    margin-top: 10px;
    align-self: flex-end;
}

#egrn {
    width: 700px;
    height: 575px;
    left: -100px;
    padding: 35px;
}

#egrn .header {
    color: #3B89D7;
    font-size: 41px;
    font-weight: bold;
}

#egrn #email_label_egrn {
    color: #FF4D00;
    margin-top: 65px;
}

#egrn form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#egrn form .first_row {
    display: flex;
    justify-content: space-between;
}

#egrn form textarea {
    margin-top: 30px;
    padding: 20px;
    resize: none;
}

#egrn form input,
#egrn form select {
    padding: 9px 20px;
}

#egrn form select {
    width: 240px;
}

#make_reference {
    width: 490px;
    height: 304px;
    left: 473px;
    top: -200px;
    padding: 60px;
}

#make_reference .header {
    color: #3B89D7;
    font-size: 34px;
    font-weight: bold;
}

#make_reference #date_of_extract {
    margin-top: 35px;
}

#make_reference input {
    padding: 9px 20px;
}

#make_reference form {
    margin-top: 20px;
}

#make_reference form a {
    margin-left: 40px;
    color: #FF4D00;
    text-decoration: underline;
    font-weight: bold;
}

.form_input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    font-size: 16px;
    outline: none;
}

#actual_information {
    margin-top: 280px;
}

#actual_information .label {
    width: 400px;
}

#actual_information .heading_info {
    margin-left: 290px;
}

.info_doc {
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
}

.info_doc:nth-child(1) {
    left: -200px;
    top: 30px;
    z-index: 2;
}

.info_doc:nth-child(2) {
    left: 150px;
    top: -45px;
}

.info_doc:nth-child(3) {
    left: 350px;
    top: 220px;
    z-index: 1;
}

.info_doc:nth-child(4) {
    left: 200px;
    top: 220px;
    z-index: 3;
}

#juridical_info_img {
    position: absolute;
    top: 600px;
    width: 192px;
    height: 255px;
}

#regulations {
    height: 600px;
    width: 800px;
    z-index: 4;
    top: 130px;
    padding: 40px;
    position: relative;
    /*overflow-x: hidden;*/
}

#acts {
    display: flex;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    height: 180px;
}

#acts .act {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 210px;
    height: 166px;
    border-radius: 22px;
    background-color: #4F4F4F;
    box-shadow: 12px 20px 33px rgba(0, 0, 0, 0.11);
    padding: 30px;
    color: #FFF;
    font-family: "Geometria", "Journal", sans-serif;
    font-size: 13px;
    line-height: 16px;
}

.act:nth-child(1) {
    transform: scale(1.7);
    z-index: 3;
    background: linear-gradient(138.74deg, #6FA7DE 42.48%, #93C4F5 94.91%);
}

.act:nth-child(2) {
    transform: scale(1.4);
    margin: 0 20px 0 70px;
    z-index: 2;
    background: #3B89D7 !important;
}

.act:nth-child(3) {
    transform: scale(1.1);
    margin-left: -20px;
}

#regulations .blank {
    height: 54px;
}

#regulations .header {
    color: #3B89D7;
    font-size: 42px;
}

#regulations_container {
    display: flex;
    justify-content: center;
}

.normative_acts_bottom {
    position: absolute;
    height: 120px;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    left: 0;
    font-family: "Geometria", "Journal", sans-serif;
}

.normative_acts_bottom:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(1turn, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.7));
}

.normative_act_bottom {
    display: inline-block;
    position: absolute;
    bottom: -95px;
    border: 1px solid #000;
    border-radius: 25px;
    padding: 40px;
    font-size: 20px;
    height: 200px;
    width: 300px;
    left: 50px;
    z-index: 0;
}

.nab2 {
    left: 390px;
}

#tworects {
    position: absolute;
    left: 0;
    top: 400px;
}

#team_rects_left {
    position: absolute;
    left: 0;
    z-index: -1;
}

#team_rects_right {
    position: absolute;
    right: 0;
    z-index: -1;
}

#checks {
    margin-top: 400px;
    /*height: 900px;*/
}

#checks .label {
    width: 380px;
}

#checks .block_right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

#checks .right {
    left: 167px;
}

#checks .check {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 240px;
    padding: 34px;
    font-size: 18px;
    overflow: hidden;
}

#checks .check>u {
    cursor: pointer;
    color: #FF4D00;
}

#checks .check .text {
    max-width: 200px;
}

#checks .check .bell {
    position: absolute;
    right: -20px;
    bottom: 10px;
}

#checks .check:nth-child(1) {
    top: 50px;
    right: 100px;
}

#checks .check:nth-child(2) {
    left: 50px;
    top: 280px;
}

#checks .check:nth-child(3) {
    top: 500px;
    left: 405px;
}


#headblow_img {
    position: absolute;
    width: 107px;
    height: 107px;
    right: 255px;
    top: 40px;
}

#service_team {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: -100px;
}

#service_team .heading {
    text-align: center;
}

.service_team_img {
    position: relative;
    min-width: 149px;
    min-height: 166px;
    flex: 1;
}

.service_team_img img {
    position: absolute;
}

.service_team_img .service_team_human {
    top: 9px;
    left: 19px;
}

.member.hovered #lawyer_img img:nth-child(3) {
    transform: rotate(-34deg);
    transition: 0.2s;
}

.member.hovered #lawyer_img img:nth-child(4) {
    transform: translateY(5px);
    transition: 0.2s;
}

.member.hovered #financial_director_img img:nth-child(5) {
    transform: translateY(-12px);
    transition: 0.2s;
}

.member.hovered #financial_director_img img:nth-child(4) {
    transform: translateY(-12px);
    transition: 0.2s;
    transition-delay: 0.1s;
}

.member.hovered #financial_director_img img:nth-child(3) {
    transform: translateY(-12px);
    transition: 0.2s;
    transition-delay: 0.2s;
}

#sm24 #yellow_box {
    position: absolute;
    width: 37px;
    height: 29px;
    background-color: yellow;
    top: 88px;
    left: 95px;
    z-index: -1;
    box-shadow: 0px 10px 10px 3px yellow;
    opacity: 0;
    transition: 0.5s;
}

.member.hovered #yellow_box {
    opacity: 1 !important;
    transition: 0.5s;
}

#accountant_img img:nth-child(3) {
    top: 90px;
    left: 94px;
}

.member.hovered #accountant_img img:nth-child(3) {
    animation: wiggle_animation 0.5s;
}

#team_owner_img img:nth-child(3) {
    top: 90px;
    left: 90px;
}

#financial_director_img img {
    transition: 0.1s;
}

#lawyer_img img:nth-child(3) {
    top: 88px;
    left: 83px;
    transform-origin: 47px 67px;
    transition: 0.5s;
}

#lawyer_img img:nth-child(4) {
    top: 151px;
    left: 68px;
    transition: 0.2s;
}

#manager_img img:nth-child(3) {
    top: 87px;
    left: 95px;
}

.member.hovered #manager_img img:nth-child(3) {
    animation: service_team_phone infinite 1.5s;
}

@keyframes service_team_phone {
    0% {
        transform: rotate(0);
    }

    15% {
        transform: rotate(20deg);
    }

    30% {
        transform: rotate(-20deg);
    }

    45% {
        transform: rotate(20deg);
    }

    60% {
        transform: rotate(-20deg);
    }

    75% {
        transform: rotate(0);
    }
}

#control_img img:nth-child(3) {
    top: 90px;
    left: 90px;
}

#control_img img:nth-child(4) {
    top: 90px;
    left: 120px;
}

.member.hovered #control_img img:nth-child(3) {
    animation: service_team_arrow 0.5s infinite;
    animation-delay: 0.1s;
}

.member.hovered #control_img img:nth-child(4) {
    animation: service_team_arrow 0.5s infinite;
}

@keyframes service_team_arrow {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    40% {
        opacity: 0;
        transform: translateX(30px);
    }

    41% {
        opacity: 0;
        transform: translateX(-30px);
    }

    80% {
        opacity: 1;
        transform: translateX(0);
    }
}

#financial_director_img img:nth-child(3) {
    top: 90px;
    left: 90px;
}

#financial_director_img img:nth-child(4) {
    top: 113px;
    left: 90px;
}

#financial_director_img img:nth-child(5) {
    top: 130px;
    left: 90px;
}

.team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 200px;
    grid-row-gap: 40px;
    margin-top: 100px;
}

.team .member {
    width: 270px;
    /*margin: 0 110px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.member h4 {
    font-size: 29px;
    color: #000000;
    margin-top: 40px;
    text-align: center;
    flex: 1;
}

.member span {
    margin-top: 20px;
    color: #000000;
    transition: 0.5s;
    font-size: 16px;
    text-align: center;
    flex: 1;
}

#get_access {
    margin-top: 210px;
    background: linear-gradient(279.21deg, #91C2F4 18%, #6FA7DE 88.3%);
    height: 1300px;
    padding-top: 90px;
    position: relative;
    overflow: hidden;
}

#get_access .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 95px;
    text-align: center;
}

#rects3 {
    position: absolute;
    top: 0;
    z-index: 0;
}

#rects4 {
    position: absolute;
    right: 0;
    top: -50px;
    z-index: 0;
}

#get_access_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#get_access .inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
    box-sizing: border-box;
    margin-top: 50px;
}

#get_access input,
#get_access textarea {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #FFF;
    border-radius: 18px;
    padding: 20px 20px 20px 40px;
    outline: none;
    font-size: 22px;
    color: #FFF;
}

#get_access textarea {
    margin-top: 45px;
}

#get_access input::placeholder,
#get_access textarea::placeholder {
    color: #FFF;
    font-size: 22px;
    font-family: 'Journal', sans-serif;
}

#get_access input::placeholder,
#get_access textarea::-moz-placeholder {
    color: #FFF;
    font-size: 22px;
    font-family: 'Journal', sans-serif;
}

#get_access input::placeholder,
#get_access textarea::-webkit-input-placeholder {
    color: #FFF;
    font-size: 22px;
    font-family: 'Journal', sans-serif;
}

.form_button {
    cursor: pointer;
    width: 200px;
    background-color: #FF4D00;
    border: 3px solid #FF4D00;
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
    margin-top: 40px;
    padding: 16px;
    border-radius: 10px;
    transition: 0.5s;
    font-family: "Journal", sans-serif;
}

#references .block_left {
    z-index: 0;
}

.form_button:hover {
    background-color: #FFF;
    color: #FF4D00;
    transition: 0.5s;
}

#get_access .form_button {
    font-size: 20px;
    border-radius: 21px;
    padding: 20px;
    width: 250px;
    margin-top: 60px;
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    padding: 0 !important;
}

.checkbox+label {
    position: relative;
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.checkbox+label::before {
    content: '';
    position: relative;
    display: inline-block;
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid rgba(255, 255, 255, 0.8);
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    transition: 0.1s;
}

.checkbox:checked+label::after {
    position: absolute;
    content: url("data:image/svg+xml,%3Csvg width='36' height='32' viewBox='0 0 36 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 16L16.5 27L32.5 3' stroke='%23FF4D00' stroke-width='6' stroke-linecap='round'/%3E%3C/svg%3E");
    /*background-image: url("data:image/svg+xml,%3Csvg width='36' height='32' viewBox='0 0 36 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 16L16.5 27L32.5 3' stroke='%23FF4D00' stroke-width='6' stroke-linecap='round'/%3E%3C/svg%3E");*/
    transition: 1s;
    left: -6px;
    transform: translateY(-5px);
}

.checkboxes {
    display: flex;
    align-items: center;
    margin-top: 45px;
    font-size: 13px;
}

.checkboxes .checkbox_container {
    max-width: 250px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 20px;
    margin-top: 130px;
}

footer .footer_links a {
    color: #FFF;
    opacity: 0.28;
}

footer .footer_links a:nth-child(2) {
    margin-left: 40px;
}

#get_access .checkboxes {
    /*align-self: flex-start;*/
    color: #FFF;
}

#get_access_ask_question {
    align-self: center;
    margin: 46px 0;
    color: #FFF;
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
}

.bottom_animation {
    transform: translateY(50px);
    opacity: 0;
}

.bottom_animation.animated {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s;
}

.bottom_animation_building {
    transform: translateY(300px);
    opacity: 0;
}

.bottom_animation_building.animated {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s;
}

.right_animation_building {
    transform: translateX(846px);
}

.right_animation_building.animated {
    transform: translateX(0);
    transition: 1s ease;
}

.top_elastic_animation {
    transform: translateY(-80px);
}

@keyframes top_elastic_keyframes {
    0% {
        transform: translateY(-80px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes top_elastic_keyframes {
    0% {
        transform: translateY(-80px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

@-moz-keyframes top_elastic_keyframes {
    0% {
        transform: translateY(-80px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

@-o-keyframes top_elastic_keyframes {
    0% {
        transform: translateY(-80px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

.top_elastic_animation.animated {
    transform: translateY(0);
    animation: top_elastic_keyframes 0.4s;
}

.scale_from_zero {
    transform: scale(0);
}

.scale_from_zero.animated {
    transform: scale(1);
    transition: 0.9s ease;
}

.scale_bounce_animation {
    transform: scale(0);
}

.scale_bounce_animation.animated {
    transform: scale(1);
    transition: 0.5s cubic-bezier(.18, .25, .01, 1.64);
}

.opacity_animation {
    opacity: 0;
}

.opacity_animation.animated {
    opacity: 1;
    transition: 1.5s;
}

.bell.wiggle_animation {
    transform-origin: 50% 0;
}

#start_button_block {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#start_button_block a {
    text-align: center;
}

@keyframes wiggle_animation {
    0% {
        transform: rotate(0)
    }

    33% {
        transform: rotate(5deg)
    }

    66% {
        transform: rotate(-5deg)
    }

    100% {
        transform: rotate(0)
    }
}

@-webkit-keyframes wiggle_animation {
    0% {
        transform: rotate(0)
    }

    33% {
        transform: rotate(5deg)
    }

    66% {
        transform: rotate(-5deg)
    }

    100% {
        transform: rotate(0)
    }
}

@-moz-keyframes wiggle_animation {
    0% {
        transform: rotate(0)
    }

    33% {
        transform: rotate(5deg)
    }

    66% {
        transform: rotate(-5deg)
    }

    100% {
        transform: rotate(0)
    }
}

@-o-keyframes wiggle_animation {
    0% {
        transform: rotate(0)
    }

    33% {
        transform: rotate(5deg)
    }

    66% {
        transform: rotate(-5deg)
    }

    100% {
        transform: rotate(0)
    }
}

.slide_from_left {
    transform: translateX(-100%);
}

.slide_from_left.animated {
    transform: translateX(0);
    transition: 1s ease;
}

.slide_from_left_small_elem {
    transform: translateX(-100vw);
}

.slide_from_left_small_elem.animated {
    transform: translateX(0);
    transition: 1s ease;
}

.slide_from_right {
    transform: translateX(100%);
}

.slide_from_right.animated {
    transform: translateX(0);
    transition: 1s ease;
}

.slide_from_right_small_elem {
    transform: translateX(100vw);
}

.slide_from_right_small_elem.animated {
    transform: translateX(0);
    transition: 1s ease;
}

.windows_animation {
    transform-origin: bottom;
    transform: rotate3d(1, 0, 0, 90deg) scale(0.5);
    opacity: 0;
}

.windows_animation.animated {
    transform: rotate3d(1, 0, 0, 0deg) scale(1);
    transition: 0.5s;
    opacity: 1;
}

#get_access .heading,
#get_access input,
#get_access button,
#get_access a,
#get_access label,
#get_access .footer_links,
#get_access #logo_bottom {
    z-index: 2;
}

#sm10 {
    font-size: 26px;
    padding: 0;
    width: 265px;
    height: 78px;
    z-index: 3;
}

@media screen and (max-width: 1800px) {
    #headblow_img {
        right: 15px;
        height: 80px;
        width: 80px;
    }
}

@media screen and (max-width: 1730px) {
    #economy_block .right {
        min-width: 700px;
    }

    #economy_block .right h1 {
        font-size: 70px;
        line-height: initial;
    }

    #economy_block .block_left {
        padding-left: 0;
    }

    #economy_block .right {
        padding-left: 80px;
    }
}

@media screen and (max-width: 1690px) {
    .heading_info {
        margin-left: 100px;
    }

    #building {
        left: 55vw;
    }

    #main_block_left h1 {
        font-size: 60px;
        line-height: 60px;
    }
}

@media screen and (max-width: 1540px) {
    #economy_block #economy_number {
        font-size: 500px;
        top: 180px;
    }

    #economy_block #economy_percent {
        font-size: 150px;
        left: 485px;
        top: 305px;
    }

    #economy_block #economy_info {
        top: 602px;
        font-size: 20px;
    }

    #economy_elements_container {
        margin-top: 50px !important;
    }
}

@media screen and (max-width: 1520px) {
    #objects_in_one_place .heading {
        width: 600px;
    }

    .block_left {
        padding-left: 80px;
    }
}

@media screen and (max-width: 1500px) {
    #economy img {
        width: 700px;
    }
}

@media screen and (max-width: 1400px) {
    #checks .block_left {
        min-width: 700px;
    }

    #checks .right {
        transform: scale(0.85);
        transform-origin: right;
        left: 140px;
    }

    #team_rects_right {
        display: none;
    }

    .economy_element {
        transform: scale(0.8)
    }

    #economy_block .block_left {
        padding-left: 0;
        min-width: 500px;
    }

    #economy img {
        width: 600px;
    }

    #economy {
        margin-top: 350px;
    }

    #economy_block .right {
        min-width: 600px;
    }

    #possibility_block_header {
        font-size: 30px;
    }
}

@media screen and (max-width: 1300px) {
    #checks .block_left {
        min-width: 635px;
    }

    #checks .right {
        transform: scale(0.8);
        transform-origin: right;
        left: 140px;
    }

    #economy img {
        width: 500px;
    }

    #economy {
        margin-top: 413px;
    }

    .team {
        grid-column-gap: 100px;
    }
}

@media screen and (max-width: 1200px) {
    #checks .block_left {
        min-width: 544px;
    }

    #checks .right {
        transform: scale(0.72);
        transform-origin: right;
        left: 140px;
    }

    .heading_info {
        margin-left: 0 !important;
    }

    .heading {
        font-size: 80px !important;
    }

    #main_block_left .form_button {
        width: 260px;
        height: 60px;
        font-size: 24px;
        margin-top: 100px;
        padding: 0;
    }

    #cool_img {
        left: 430px;
    }

    #contragents .block_left {
        min-width: 703px;
    }
}

@media screen and (max-width: 1024px) {
    #economy {
        margin-top: 0;
    }

    /*#objects_in_one_place {*/
    /*    height: 1200px;*/
    /*}*/
    /*#economy_block {*/
    /*    height: 1800px;*/
    /*}*/
    /*#profit_analysis {*/
    /*    height: 1100px;*/
    /*}*/
    /*#contragents {*/
    /*    height: 1400px;*/
    /*}*/
    /*#references {*/
    /*    height: 1400px;*/
    /*}*/
    /*#actual_information {*/
    /*    height: 1270px;*/
    /*}*/
    /*#checks {*/
    /*    height: 1200px;*/
    /*}*/
    .team {
        grid-column-gap: 60px;
    }

    .team .member {
        width: 200px;
    }

    .service_team_img {
        transform: scale(0.8);
    }

    .member h4 {
        margin-top: 0;
    }

    #checks .right {
        margin-left: -186px;
        min-height: 850px;
        margin-top: 50px;
    }

    #actual_information .block_left {
        z-index: 2;
    }

    #main_block_left .right_block {
        justify-content: initial;
    }

    .block {
        flex-direction: column;
        height: auto;
    }

    .block_reverse {
        flex-direction: column;
    }

    .block_left {
        padding: 0 0 0 24px;
        min-width: 100vw !important;
    }

    .block_right {
        min-width: 100vw !important;
    }

    .heading_info {
        margin-left: 0;
    }

    #references .block_left {
        padding-left: 24px;
    }

    #vector_img {
        position: absolute;
        right: 40px;
        bottom: 0;
        width: 120px;
    }

    #objects_in_one_place .shadow {
        position: absolute;
        right: 50px;
    }

    #objects_in_one_place #new_cases {
        right: 214px;
        left: initial;
        top: 69px;
    }

    #objects_in_one_place #object_info {
        position: absolute;
        left: initial;
        right: 363px;
        top: 220px;
    }

    #objects_in_one_place #cells_img_cadastral {
        left: initial;
        right: 341px;
        top: -50px;
    }

    #objects_in_one_place #cells_img_important {
        left: initial;
        right: 11px;
        top: 186px;
    }

    #objects_in_one_place #check_cadastral_cost {
        left: initial;
        right: 783px;
        top: 114px;
    }

    #profit_analysis #count_object_container {
        transform: scale(0.8);
    }

    #profit_analysis #count_object {
        left: initial;
        right: 350px;
    }

    .block_right {
        min-height: initial;
    }

    #profit_analysis .block_right {
        min-height: 700px;
        margin-top: 40px;
    }

    #objects_in_one_place .block_right {
        min-height: 773px;
    }

    #contragents .block_right {
        min-height: 737px;
        margin-top: 140px;
    }

    #contragents #info_cadastral {
        left: initial;
        right: 60px;
    }

    #check_asap_text {
        left: initial;
        right: 20px;
    }

    #check_cells {
        left: initial;
        right: -200px;
    }

    #references .block_right {
        min-height: 696px;
        margin-top: 240px;
        z-index: 2;
    }

    #actual_information .block_right {
        z-index: 2;
    }

    #economy_block {
        flex-direction: column;
    }

    #economy_block .economy {
        position: relative;
    }

    #main_block_left h1 {
        font-size: 45px;
        line-height: 45px;
    }

    #contragents .form_button {
        padding: 20px 80px !important;
        width: initial !important;
        height: initial !important;
        font-size: 22px !important;
    }

    #profit_analysis .block_left {
        z-index: initial;
    }

    #juridical_info_img {
        bottom: 140px;
        right: 0;
    }

    #economy {
        height: initial;
        text-align: center;
        padding-left: 20px;
    }

    #economy img {
        width: 100% !important;
    }

    #economy_block .right {
        padding: 0 0 0 10px !important;
    }

    #possibility_block_header {
        font-size: 20px !important;
    }

    #regulations {
        right: 244px;
    }

    #regulations h1 {
        text-align: end;
    }

    #acts {
        flex-direction: row-reverse;
    }

    .act:nth-child(2) {
        margin: 0 -59px 0 -106px;
    }

    .act:nth-child(3) {
        margin-left: 286px;
    }

    #economy_block .right #economy_elements_container {
        width: 95%;
    }
}

@media screen and (max-width: 768px) {

    #rects3,
    #rects4 {
        display: none;
    }

    #checks {
        margin-top: 150px;
    }

    #actual_information {
        margin-top: 50px;
    }

    #references {
        margin-top: 100px;
    }

    #headblow_img {
        right: 60px;
        width: 65px;
        height: 65px;
    }

    .team {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 60px;
    }

    #checks .check {
        width: 250px;
        height: 200px;
        font-size: 12px;
    }

    .check .bell {
        height: 100px;
    }

    #checks .check:nth-child(3) {
        top: 455px;
        left: 363px;
    }

    #lightning {
        height: 400px;
    }

    #main_block_left .right_block {
        align-self: initial;
    }

    #main_block_left {
        align-items: initial;
    }

    header {
        padding: 20px 15px;
    }

    .logo {
        transform: scale(0.8);
    }

    #building {
        left: -15px;
        ;
        top: 300px;
    }

    .blue_rectangle {
        top: -492px;
        right: -560px;
    }

    #start_link {
        margin-left: 20px;
    }

    #main_block_left {
        justify-content: initial;
        padding-left: 20px;
    }

    #main_block_left .right_block {
        width: initial;
        align-self: initial;
    }

    #main_block_left .form_button {
        margin-top: 40px;
        font-size: 20px;
    }

    #main_block .heading {
        margin-top: 180px;
    }

    #el1 {
        display: none;
    }

    #screen1_container img {
        margin: 0;
    }

    #screen1_container {
        margin: 0 10px;
    }

    #second_block {
        margin-top: -120px;
    }

    .heading {
        font-size: 60px !important;
        line-height: 60px !important;
    }

    .heading_info {
        font-size: 22px !important;
    }

    .label {
        font-size: 16px;
    }

    .block_right {
        transform: scale(0.9);
    }

    .label {
        width: initial !important;
        height: initial !important;
    }

    #egrn {
        left: initial;
        right: 360px;
    }

    #make_reference {
        left: initial;
        right: 100px;
    }

    #andrey_references {
        left: initial;
        right: 576px;
    }

    #vector_img {
        width: 90px;
        bottom: -127px;
        right: initial;
    }

    #objects_in_one_place .shadow {
        /*right: 30px;*/
        bottom: -149px;
        left: -25px;
        right: initial;
    }

    #objects_in_one_place .right {
        margin-top: 100px;
    }

    #profit_analysis #count_object {
        right: 160px;
    }

    #economy_block .right h1 {
        margin-top: 0;
        font-size: 36px !important;
    }

    #main_block {
        height: 100vh;
    }

    #objects_in_one_place {
        margin-top: 100px;
    }

    #economy {
        margin-left: 0px;
        padding: 0 10px;
    }

    #profit_analysis {
        margin-top: 100px;
    }

    #contragents {
        margin-top: -100px;
    }
}

@media screen and (max-width: 600px) {
    #checks .right {
        margin-left: -240px;
        transform: scale(0.8);
        margin-top: -65px;
    }

    #objects_in_one_place #new_cases {
        right: 31px;
    }

    #objects_in_one_place #object_info {
        right: 131px;
    }

    #profit_analysis #count_object {
        width: 671px;
        right: 90px;
    }

    #count_scroll_img {
        right: -135px;
    }

    #building {
        left: -150px;
        ;
        top: 300px;
    }

    #vector_img {
        width: 75px;
    }

    #juridical_info_img {
        width: 100px;
    }

    #actual_information .block_right {
        transform: scale(0.7);
        transform-origin: left;
    }

    .heading_info {
        margin-left: 0 !important;
        margin-top: 50px !important;
    }

    #regulations {
        right: 320px;
    }
}

@media screen and (max-width: 516px) {
    #get_access {
        height: 1350px;
    }
}

@media screen and (max-width: 480px) {

    #get_access input,
    #get_access textarea {
        padding: 10px 10px 10px 20px;
        font-size: 16px;
    }

    #get_access input::placeholder,
    #get_access textarea::placeholder {
        font-size: 16px;
    }

    #get_access {
        height: 1000px;
    }

    .member h4 {
        font-size: 16px;
        margin-top: -16px;
    }

    .member span {
        margin-top: 0;
        font-size: 14px;
    }

    .logo {
        transform: scale(0.7);
    }

    .team {
        grid-column-gap: 15px;
    }

    .service_team_img {
        transform: scale(0.6);
    }

    header .links {
        font-size: 16px;
    }

    .heading {
        font-size: 38px !important;
        line-height: 37px !important;
        margin-top: 60px !important;
    }

    .heading_info {
        font-size: 15px !important;
        line-height: initial !important;
    }

    .label {
        font-size: 10px;
        padding: 9px 12px;
    }

    #objects_in_one_place .heading {
        margin-top: 54px;
    }

    .block_right {
        transform: scale(0.7);
    }

    #economy_block .block_right {
        transform: initial;
    }

    #count_object {
        right: 50px !important;
    }

    #contragents .form_button {
        padding: 10px 40px !important;
        font-size: 16px !important;
    }

    #references .block_right {
        transform: scale(0.6);
        margin-top: 0;
    }

    #vector_img {
        width: 60px;
    }

    #objects_in_one_place .shadow {
        right: 20px;
        transform: scale(0.7);
    }

    #main_block .heading {
        font-size: 36px;
        line-height: 36px;
        margin-top: 120px !important;
    }

    .economy_element {
        transform: scale(0.6) !important;
    }
}

@media screen and (max-width: 400px) {
    .team .member {
        width: 150px;
    }

    .member h4 {
        flex: initial;
    }

    .economy_element {
        width: 120px;
        transform: scale(0.5);
        margin-left: 0;
    }

    #economy_elements_container {
        justify-content: center !important;
        transform: scale(0.8);
    }
}

@media screen and (max-width: 380px) {
    #objects_in_one_place .heading_info {}
}

@media screen and (max-width: 340px) {
    .team .member {
        width: 120px;
    }
}

/*.possibility_element:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    min-width: 250px;*/
/*    min-height: 400px;*/
/*    box-shadow: 0 4px 84px 0 rgba(255, 0, 0, 0.17);*/
/*    z-index: -999;*/
/*    border-radius: 10px;*/
/*}*/

/*.possibility_element:hover {*/
/*    transform: scale(1.1);*/
/*    transition: 0.5s;*/
/*}*/